<!DOCTYPE html>
<html>
<head>
  <title>Roles, Permissions, and Authorizations</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <h1>Current User: </h1>
  
  <h1>Select User</h1>
  <form action="/users/select" method="post">
    <select name="user">
      <% users.forEach(u => { %>
        <option name="user" value="<%= u._id %>"><%= u.name %></option>
      <% }) %>
    </select>
    <button type="submit">Select User</button>
  </form>
  

  <hr>
  
  <h1>Messages</h1>

  <form action="/messages" method="POST">
    <input name="message" placeholder="New message">
    <button>Add</button>
  </form>

  <ul>
    <% messages.forEach(m => { %>
      <li>
        <%= m.message %>
        <form action="/messages/edit/<%= m._id %>" method="POST" style="display:inline;">
          <button>Edit</button>
        </form>
        <form action="/messages/delete/<%= m._id %>" method="POST" style="display:inline;">
          <button>Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <hr>

  <h1>Add New User</h1>

  <form action="/users/add" method="POST">
    <input name="name" placeholder="New user">
    <button>Add</button>
  </form>

</body>
</html>
